<div class="col-md-2 bg-dark mt-2 pr-3 pt-4">
    <ul class="nav flex-column ml-3 mb-5">
        <li class="nav-item">
            <a class="nav-link disabled text-white">Main Navigation</a>
        </li>
        <a class="nav-link active text-white" aria-current="page" href="/4_my_point/index.php"><i class="fas fa-tachometer-alt me-2"></i> Dashboard</a>
        <hr class="bg-secondary">
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#"><i class="far fa-address-book me-2"></i> Data Tata Tertib</a>
            <hr class="bg-secondary">
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#"><i class="far fa-address-book me-2"></i> Pelanggaran Siswa</a>
            <hr class="bg-secondary">
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="kelas/index.php"><i class="fas fa-house-user me-2"></i> Kelas</a>
            <hr class="bg-secondary">
        </li>
        <a class="nav-link text-white" href="#"><i class="fas fa-user-graduate me-2"></i> Siswa</a>
        <hr class="bg-secondary">
        </li>
        <a class="nav-link text-white" href="#"><i class="fas fa-chalkboard-teacher me-2"></i> Guru</a>
        <hr class="bg-secondary">
        <a class="nav-link text-white" href="auth/logout.php" class="out"><i class="fas fa-sign-out-alt me-2"></i>Logout</a>
        <hr class="bg-secondary">
    </ul>
</div>